<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TI.Form.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
         
                @foreach(var Topic in Topics)
                {
                    <NavLink  href="@Topic.Id" class="nav-link" Match="NavLinkMatch.All">
                            <h5>@Topic.Title</h5>
                    </NavLink>
                }

        </div>
    </nav>
</div>

@code {
    List<Topic> Topics = new List<Topic>(){
        new Topic
        {
            Id = 1,
            Title = "Tema de las preguntas",
            Description = "Descripcion de las preguntas",
        },
        new Topic
        {
            Id = 2,
            Title = "Tema de las preguntas",
            Description = "Descripcion de las preguntas",
        },
        new Topic
        {
            Id = 3,
            Title = "Tema de las preguntas",
            Description = "Descripcion de las preguntas",
        },
        new Topic
        {
            Id = 4,
            Title = "Tema de las preguntas",
            Description = "Descripcion de las preguntas",
        },
        new Topic
        {
            Id = 5,
            Title = "Tema de las preguntas",
            Description = "Descripcion de las preguntas",
        },
        new Topic
        {
            Id = 6,
            Title = "Tema de las preguntas",
            Description = "Descripcion de las preguntas",
        }

    };

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
