<div class="header">
            @if(IsVisibleAnswer)
            {
                <a @onclick="() => IsVisibleAnswerChanged.InvokeAsync(false)" class="btn btn-info">Ocultar Respuesta</a>
            }
            else
            {
                 <a  @onclick="() => IsVisibleAnswerChanged.InvokeAsync(true)" class="btn btn-info">Mostrar Respuesta</a>
            }
  <div class="header-right">
        @if (HasImage)
        {
            @if (IsVisibleImage)
            {
                <a  @onclick="() => IsVisibleImageChanged.InvokeAsync(false)" class="btn btn-light" >Ocultar Imagen</a>
            }
            else
            {
                <a @onclick="() => IsVisibleImageChanged.InvokeAsync(true)" class="btn btn-light" >Mostrar Imagen</a>   
            }
        }

  </div>
</div>

@code{
    [Parameter]
    public bool IsVisibleAnswer { get; set; } 

    [Parameter]
    public EventCallback<bool> IsVisibleAnswerChanged { get; set; }

    [Parameter]
    public bool IsVisibleImage { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleImageChanged { get; set; }

    [Parameter]
    public bool HasImage { get; set; }
}